.statistics {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 45px 45px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 18px;
  color: #000000;
}

.stat-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: grid;
  justify-items: center;

  padding: 6px;
  :first-of-type {
    border-radius: 12px 0 0 12px;
  }
  :last-child {
    border-radius: 0 12px 12px 0;
  }
  /* @media screen  and (min-width: 768px){
        width: 128px;
    } */
}

.label {
  font-weight: 400;
  font-size: 12px;
  color: #dcdcd5;
}

.percentage {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
